@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #FDF7F3;
}

h1, h2, h3, h4, h5, h6, span {
    font-family: "Roboto Serif", sans-serif;
}

p, a {
    font-family: "Roboto", sans-serif;
}